<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'main.css') }}">

    <!-- Script to display added destinations
    <script language="JavaScript">
      function showDestinations() {
        document.getElementById("addedOrigins").innerHTML +=
                (document.getElementById("destName").value + " (" +
                document.getElementById("destCoorX").value + ", " +
                document.getElementById("destCoorY").value + ")")
      }
    </script> -->
</head>

<body>
    <header class="site-header">
    <!--
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #393e46">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">BantuKurir</a>
          <a class="navbar-brand mr-4" href="/history">See History</a>
        </div>
      </nav>
    -->

    </header>

    <main role="main" class="container">
      <br><br><br>
      <div class="card p-3" style="width: 30rem; margin: 0 auto">
        <form id="dest-form" method="POST"></form>
        <h3><b>Destination</b></h3>
        <div class="form-row">
          <div class="col-7">
            <input type="text" class="form-control" id="destName" name="destName" placeholder="Name" form="dest-form" Required />
          </div>
          <div class="col">
            <input type="number" class="form-control" step="any" id="destCoorX" name="destCoorX" placeholder="X" form="dest-form" Required/>
          </div>
          <div class="col">
            <input type="number" class="form-control" step="any" id="destCoorY" name="destCoorY" placeholder="Y" form="dest-form" Required/>
          </div>
        </div>

        <br>
        <div class="w3-bar d-flex justify-content-center">
          <input type="submit" value="Add Destination" formaction="/route/destination" class="w3-btn w3-black" form="dest-form" />
        </div>

        <div>
          <br>
          <h6>List of Destinations:</h6>
          <ul class="list-group list-group-flush">
            {% for dest in destinations %}
              <li class="list-group-item">{{ dest }}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <br>
      <div class="w3-bar d-flex justify-content-center">
        <a type="button" href="/route/result" class="btn btn-primary justify-content-center" style="width: 30rem">Find Shortest Route</a>
      </div>
    </main>
</body>
</html>