<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'main.css') }}">    

</head>
<body>
    <header class="site-header">
    <!--
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #393e46">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">BantuKurir</a>
          <a class="navbar-brand mr-4" href="/history">See History</a>
        </div>
      </nav>
    -->

    </header>

    <main role="main" class="container">
      <form method="POST">
        <div class="w3-show-inline-block d-flex justify-content-center">
          <div class="w3-bar">
            <input type="submit" value="Find Shortest Route" formaction="/route/identity" class="w3-btn w3-black">
          </div>
        </div>
        </form>
    </main>
</body>
</html>